<h1> Add new link </h1>

<form action="/links" method="post">
    URL:
    <input type="text" name="url" autofocus>
    Title:
    <input type="text" name="title" autofocus>
    Tag:
    <input type="text" name="tags" autofocus>
    <input type="submit" value="Create link">
</form>
