<h1> Add new link </h1>

<form action="/links" method="post">
    Enter URL:
    <input type="text" name="url" autofocus>
    Enter Title:
    <input type="text" name="title" autofocus>
    <input type="submit" value="Create link">
</form>
